<div>

  <div class="ui fluid action input" style="margin: 4%;">
    <input type="text" placeholder="Search..." [(ngModel)]="searchQuery">
    <button class="ui icon button" (click)="submitQuery()">
      <i class="search icon"></i>
    </button>
  </div>

  <div style="margin: 4%;">
    <div *ngFor="let item of allBreadCrumbs" class="ui breadcrumb">
      <a href="item.path" class="section">{{item}}</a>
      <i class="right angle icon divider"></i>
    </div>
  </div>


  <h3 style="margin: 4%;">
    Search results for {{searchQuery}}
  </h3>
  <div *ngIf='!isLoading'>
    <div style="margin: 4%;">
      <!-- intro -->
      <div class="ui raised segment">
        <h3 class="ui header">Intro to {{intent}}</h3>
        <p>
          {{info}}
        </p>
      </div>
      <div class="ui raised segment">
        <h3 class="ui header">Set up - {{intent}}</h3>
        <div *ngIf='macSetup'>
          <h5>
            macOSX : {{macSetup.title}}
          </h5>
          <p>{{macSetup.description}}</p>
          <a href="{{macSetup.link}}">{{macSetup.link}}</a>
        </div>
        <br>
        <hr>
        <br>
        <div *ngIf='winSetup'>
          <h5>
            Windows : {{winSetup.title}}
          </h5>
          <p>{{winSetup.description}}</p>
          <a href="{{winSetup.link}}">{{winSetup.link}}</a>
        </div>
        <br>
        <hr>
        <br>
        <div *ngIf='linuxSetup'>
          <h5>
            linux : {{linuxSetup.title}}
          </h5>
          <p>{{linuxSetup.description}}</p>
          <a href="{{linuxSetup.link}}">{{linuxSetup.link}}</a>
        </div>
      </div>
      <div class="ui raised segment">
        <h3 class="ui header">Hello World - {{intent}}</h3>
        <h5>
          {{helloWorld.title}}
        </h5>
        <p>{{helloWorld.description}}</p>
        <a href="{{helloWorld.link}}">{{helloWorld.link}}</a>
      </div>
      <div class="ui raised segment">
        <h3 class="ui header">Related Questions - {{intent}}</h3>
        <!-- each question  -->
        <div *ngFor="let question of suggestions">
          <h5>
            {{question.question}}
          </h5>
          <a href="{{question.link}}">{{question.link}}</a>
          <p>rank - {{question.rank}}</p>
          <hr>
          <br>
        </div>
      </div>
    </div>

    <h3 style="margin: 4%;">
      Related Tags
    </h3>

    <div class="ui cards" style="margin: 4%;">
      <div class="card" *ngFor="let tag of tags" (click)="reloadFor(tag)">
        <div class="content">
          <div class="header">{{tag}}</div>
        </div>
      </div>
    </div>

  </div>
  <div *ngIf='isLoading' style="margin: 4%">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

</div>